<h1 class="brl-title">Bike Rack Locations</h1>

<ul class="header">
  <li>
    <a href="http://localhost:9000/#rental"><button class="rental-bikes">Rental Bike Locations</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#laws"><button class="laws">Laws and Safety</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#notes"><button class="notes">Notes</button></a>
  </li>
</ul>

<button class="show-add-brl">Add a rack!</button>

<form class="add-brl-form hidden">
  <input class="title"type="text" placeholder="title">
  <input class="lat" type="text" placeholder="latitude">
  <input class="lng" type="text" placeholder="longitude">
  <input class="infoWindow"type="text" placeholder="add info">
  <button class="add-brl" type="submit" placeholder="Add">Submit</button>
  <button class="remove-form">Clear</button>
</form>

<button class="logout-button">Logout</button>
