  <div class="full-heading">
    <nav class="cl-effect-21">
      <h1><a href="http://localhost:9000/#brl"><span>Bike rack locations</span></a></h1>
      <ul class="header">
        <li>
          <a class="rental-bikes-link" href="http://localhost:9000/#rental"><span>Rental Bike Locations</span></a>
        </li>
        <li>
          <a class="bCycle-link" href="https://greenville.bcycle.com/"><span>Find bCycles here</span></a>
        </li>
        <li>
          <a class="laws-link" href="http://localhost:9000/#laws"><span>Laws and Safety</span></a>
        </li>
        <li>
          <a class="notes-link" href="http://localhost:9000/#notes"><span>Notes</span></a>
        </li>
        <li>
          <a href="#" class="logout-button"><span>Logout</span></a>
        </li>
      </ul>
    </nav>

    <div class="add-rack-div">
      <button class="show-add-brl">Add a rack!</button>
        <form class="add-brl-form hidden pure-form pure-form-stacked">
          <input class="title"type="text" placeholder="title">
          <input class="lat" type="text" placeholder="latitude">
          <input class="lng" type="text" placeholder="longitude">
          <input class="infoWindow"type="text" placeholder="add info">
          <button class="add-brl" type="submit" placeholder="Add">Submit</button>
          <button class="remove-form">Clear</button>
        </form>
    </div>
  </div>
