<h1>Bike App</h1>

<ul>
  <li>
    <button class="brl">Bike Rack Locations</button>
  </li>
  <li>
    <button class="rental-bikes">Rental Bike Locations</button>
  </li>
  <li>
    <button class="static-map">Static Map</button>
  </li>
  <li>
    <button class="laws">Laws and Safety</button>
  </li>
</ul>
