<h1 class="index-header">What do you want to know about cycling in Greenville {{this.username}}?</h1>
<ul class="heading">
  <li>
    <a href="http://localhost:9000/#brl"><button class="brl">Bike Rack Locations</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#rental"><button class="rental-bikes">Rental Bike Locations</button></a>
  </li>
  <li>
    <a href="https://greenville.bcycle.com/"><button class="bcycle">Find bCycles here</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#laws"><button class="laws">Laws and Safety</button></a>
  </li>
</ul>

<div class="add-notes-here hidden">

  <h3 class="header-notes">Your notes</h3>

  <textarea class="add-notes" rows="8" cols="40"></textarea>

</div>

<ul class="notes-list">

</ul>

<button class="logout-button">Logout</button>
