<h1>Bike App</h1>

<button class="brl">Bike Rack Locations</button>
<button class="rental-bikes">Rental Bike Locations</button>
<button class="static-map">Static Map</button>
<button class="laws">Laws and Safety</button>
