<h1 class="title">South Carolina Laws</h1>

<ul class="header">
  <li>
    <a href="http://localhost:9000/#brl"><button class="brl-link">Bike Rack Locations</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#rental"><button class="rental-bikes-link">Rental Bike Locations</button></a>
  </li>
  <li>
    <a href="https://greenville.bcycle.com/"><button class="bCycle-link">Find bCycles here</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#notes"><button class="notes-link">Notes</button></a>
  </li>
  <li>
    <button class="logout-button">Logout</button>
  </li>
</ul>

<ul class="laws">
  <li>Bicycles in bike lanes have the right of way: Cars should not block your lane, even when turning at intersections.</li>
  <li>Bicycles should be in the bike lane unless there is an obstruction. </li>
  <li>Bicycles are allowed on roadways where lanes don’t exist, but must ride as far right as possible, unless another lane provides the only path for a cyclist to continue on their route.</li>
  <li>Bicycles riding at night must have a white headlight and a red rear reflector.</li>
  <li>Cyclists must indicate turns.</li>
</ul>

<ul class="ideas">
  <li>Helmets are not required, but prevent major brain damage and sometimes death.</li>
  <li>When wearing headphones, only one ear is suggested. Hearing is the strongest advantage cyclists have above cars.</li>
</ul>
