<div class="full-heading">

  <h1 class="title">South Carolina Laws</h1>

  <nav class="cl-effect-21">
    <ul class="header">
      <li>
        <a href="http://localhost:9000/#brl"><span>Bike Rack Locations</span></a>
      </li>
      <li>
        <a href="http://localhost:9000/#rental"><span>Rental Bike Locations</span></a>
      </li>
      <li>
        <a href="https://greenville.bcycle.com/"><span>Find bCycles here</span></a>
      </li>
      <li>
        <a href="http://localhost:9000/#notes"><span>Notes</span></a>
      </li>
      <li>
        <button class="logout-button btn-6a">Logout</button>
      </li>
    </ul>
  </nav>
</div>

<ul class="laws">
  <li>Bicycles in bike lanes have the right of way: Cars should not block your lane, even when turning at intersections.</li>
  <li>Bicycles should be in the bike lane unless there is an obstruction. </li>
  <li>Bicycles are allowed on roadways where lanes don’t exist, but must ride as far right as possible, unless another lane provides the only path for a cyclist to continue on their route.</li>
  <li>Bicycles riding at night must have a white headlight and a red rear reflector.</li>
  <li>Cyclists must indicate turns.</li>
</ul>

<ul class="ideas">
  <li>Helmets are not required, but prevent major brain damage and sometimes death.</li>
  <li>When wearing headphones, only one ear is suggested. Hearing is the strongest advantage cyclists have above cars.</li>
</ul>
