<div class="heading">
  <h3 class="headline">Ride and Rack</h1>
  <h6 class="tagline">Ride your bicycle. Find a secure rack. Repeat.</h3>
</div>

<div class="login-form-container pure-form">
  <form class="login-form">
    <h2 class="login-heading">Have an account?</h2>
    <input class="login-username " placeholder="Username">
    <input type="password" class="login-password " placeholder="Password">
    <button class="login-button ">Log In</button>
  </form>
</div>

<div class="signup-form-container pure-form">
  <form class="signup-form">
    <h2 class="signup-heading"><button>New to us?</button></h2>
    <input class="signup-username hidden" placeholder="Username">
    <input type="password" class="signup-password hidden" placeholder="Password">
    <input class="signup-email hidden" placeholder="Email">
    <button class="signup-button hidden">Sign Up</button>
  </form>
</div>
