<h1 class="heading">Welcome to G-Vegas</h1>

<div class="login-form-container">
  <form class="login-form">
    <h2 class="login-heading">Have an account?</h2>
    <input class="login-username " placeholder="Username">
    <input type="password" class="login-password " placeholder="Password">
    <button class="login-button ">Log In</button>
  </form>
</div>

<div class="signup-form-container">
  <form class="signup-form">
    <h2 class="signup-heading">New to us?</h2>
    <input class="signup-username hidden" placeholder="Username">
    <input type="password" class="signup-password hidden" placeholder="Password">
    <input class="signup-email hidden" placeholder="Email">
    <button class="signup-button hidden">Sign Up</button>
  </form>
</div>
