<h1 class="title">Public Notes</h1>

<ul class="header">
  <li>
    <a href="http://localhost:9000/#brl"><button class="brl-link">Bike Rack Locations</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#rental"><button class="rental-bikes-link">Rental Bike Locations</button></a>
  </li>
  <li>
    <a href="https://greenville.bcycle.com/"><button class="bCycle-link">Find bCycles here</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#laws"><button class="laws-link">Laws and Safety</button></a>
  </li>
  <li>
    <button class="logout-button">Logout</button>
  </li>
</ul>

<button class="add-notes-button">Add notes here</button>

<form class="notes-add-form hidden">
  <input class="notes-title-add"type="text" placeholder="title">
  <input class="notes-content-add" type="text" placeholder="content">
  <input class="notes-reset-add" type="reset" placeholder="reset">
  <input class="notes-save-add" type="submit" placeholder="save">
</form>

<h1>Public Notes</h1>

<ul class="user-notes">

</ul>

<div class="footer">
  <button class="logout-button">Logout</button>
</div>
