<h1 class="user-single-title">{{title}}</h1>
<p class="user-single-content">{{content}}</p>

<button class="note-edit-button">edit</button>

<form class="note-edit-form hidden">
  <input class="note-title"type="text" value="{{title}}">
  <input class="note-content" type="text" value="{{content}}">
  <input class="note-reset" type="reset" value="reset">
  <input class="note-save" type="submit" value="save">
  <button class="note-delete" type="delete">delete</button>
</form>
