<div class="whole-note">
  <h1 class="note-title">{{title}}</h1>
  <p class="note-content">{{content}}</p>

  <button class="note-edit-button">edit</button>

  <form class="note-edit-form hidden">
    <input class="note-title-edit" placeholder={{title}}>
    <input class="note-content-edit" placeholder={{content}}>
    <button class="note-reset" type="reset">Reset</button>
    <button class="note-save" type="submit">Save</button>
    <button class="note-delete" type="delete">Delete</button>
  </form>
</div>
