<h1>rentals in gvl</h1>

<ul class="header">
  <li>
    <a href="http://localhost:9000/#brl"><button class="brl-link">Bike Rack Locations</button></a>
  </li>
  <li>
    <a href="https://greenville.bcycle.com/"><button class="bCycle-link">Find bCycles here</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#laws"><button class="laws-link">Laws and Safety</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#notes"><button class="notes-link">Notes</button></a>
  </li>
  <li>
    <button class="logout-button">Logout</button>
  </li>
</ul>

<div class="footer">
  <button class="logout-button">Logout</button>
</div>
