<h1>rentals in gvl</h1>

<ul class="heading">
  <li>
    <a href="https://greenville.bcycle.com/"><button class="bcycle">Find bCycles here</button></a>
  </li>

  <li>
    <a href="http://localhost:9000/#brl"><button class="brl">Bike Rack Locations</button></a>
  </li>
  <li>
    <a href="http://localhost:9000/#laws"><button class="laws">Laws and Safety</button></a>
  </li>
</ul>

<button>Logout</button>
