@media (min-width: 840px) {

  .add-rack-div {
    @include outer-container(12);
    @include span-columns(4);
    @include shift(4);
    text-align: center;
    display: inline-block;
  }

  .show-add-brl {
    margin-bottom: .5em;
  }

  .add-brl-form {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    width: 50%;
    height: 50%;
    padding: 1em;
    font-size: 14px;
    text-align: center;
  }

  .add-brl-form .title {
    @include outer-container(12);
    @include span-columns(12);
    text-align: center;
  }

  .add-brl-form .lat {
    @include outer-container(12);
    @include span-columns(12);
    text-align: center;
  }

  .add-brl-form .lng {
    @include outer-container(12);
    @include span-columns(12);
    text-align: center;
  }

  .add-brl-form .infoWindow {
    @include outer-container(12);
    @include span-columns(12);
    text-align: center;
  }

}

@media (max-width: 839px) and (min-width: 500px) {

}

@media (max-width: 499px) {


}
