.header{
  @include span-columns(12);
  background-color: rgba(255,255,255, 0.9);
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.header button {
  background-color: rgba(255, 218, 56, 1);
  height: 2em;
}

.header button:hover {
  background-color: rgba(250, 234, 169, 1);
  color: rgba(239, 17, 123, 1);
}

.header .logout-button {
  padding: 10px;
  height: 2em;
  text-align: right;
  vertical-align: middle;
}
