@media (min-width: 840px){
  .header{
    @include span-columns(12);
    text-align: center;
    vertical-align: middle;
  }

  .header a {
    background-color: rgba(239, 17, 123, 1);
    color: rgba(255, 216, 56, 1);
    height: 2em;
    vertical-align: middle;
  }

  .header .logout-button {
    height: 2em;
    vertical-align: middle;
    padding: 10px;
  }
}

@media (max-width: 839px) and (min-width: 500px) {

  .header{
    @include span-columns(12);
    text-align: center;
    vertical-align: middle;
  }

  .header a {
    background-color: rgba(239, 17, 123, 1);
    color: rgba(255, 216, 56, 1);
    height: 2em;
    vertical-align: middle;
  }

  .header .logout-button {
    height: 2em;
    vertical-align: middle;
    padding: 10px;
  }
}

@media (max-width: 499px) {

  .header{
    @include span-columns(12);
    text-align: center;
    vertical-align: middle;
    background-color: rgba(55, 54, 56, .8);
  }

  .header link {
    height: 2em;
    vertical-align: middle;
    font-size: 12px;
    padding: .5em;
  }

}
