@media (min-width: 840px) {

.index-header {
  font-size: 3em;
  background-color: rgbA(255,255,255, .9);
  text-align: center;
  margin-top: 2%;
}

}

@media (max-width: 839px) and (min-width: 500px) {

}

@media (max-width: 499px) {

}
