@media (min-width: 840px) {

  html {
    background: url('/images/sharrows.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

@media (max-width: 839px) and (min-width: 500px) {

}

@media (max-width: 499px) {

}
