.laws li {
  background-color: rgba(255, 255, 255, .9);
  height: 200px;
  width: 200px;
  padding: 1em;
  font-size: 16px;
  overflow: scroll;
  display: inline-block;
}

.ideas li {
  background-color: rgba(255, 255, 255, .9);
  height: 200px;
  width: 200px;
  padding: 1em;
  font-size: 16px;
  overflow: scroll;
  display: inline-block;
}

.subtitle {
  @include outer-container;
  @include span-columns(12);
  background-color: rgba(239, 17, 123, .8);
  color: rgba(255, 216, 56, 1);
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.5em;
}

@media (min-width: 840px) {


}

@media (max-width: 839px) and (min-width: 500px) {

}

@media (max-width: 499px) {

}
