@media (min-width: 840px) {

  .map{
    @include outer-container;
/*     @include span-columns(11);
@include shift(.5); */
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid white;
    margin: auto;

  }
}

@media (max-width: 839px) and (min-width: 500px) {

  .map{
    @include outer-container;
/*     @include span-columns(12);
 */    height: 500px;
 margin: auto;

    margin-bottom: 1em;
    border: 5px solid white;
  }
}

@media (max-width: 499px) {

  .map{
    @include outer-container;
    display: inline-block;
    margin: auto;
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid white;

  }
}
