@media (min-width: 840px) {

  .map{
    @include span-columns(10);
    @include shift(1);
    width: 1000px;
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid white;
  }
}

@media (max-width: 839px) and (min-width: 500px) {

  .map{
    @include outer-container;
    @include span-columns(10);
    @include shift(1);
    width: 500px;
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid white;
  }
}

@media (max-width: 499px) {

  .map{
    @include outer-container;
    @include span-columns(10);
    @include shift(1);
    display: inline-block;
    width: 400px;
    height: 500px;
    margin-bottom: 1em;
    border: 5px solid white;

  }
}
