@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: 'Oxygen', sans-serif;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: rgba(55, 54, 56, 1);
$base-background-color: $very-light-gray;

@import 'brl';
@import 'index';
@import 'laws';
@import 'login';
@import 'notes-list-item';
@import 'notes-list';
@import 'rental';
@import 'header';

body {
  font-family: $base-font-family;
  color: $base-font-color;
}

ul {
  list-style: none;
}

li {
  padding: .5em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.hidden {
  display: none;
}

#app {
  height: 100%;
  width: 100%;
}

button {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

button:hover {
  background-color: rgba(255, 244, 194, 1);
}

button:active{
  background-color: rgba(255, 201, 121, 1);
}

.logout-button{
  padding: 10px;
}

.logout-button:hover{
  background-color: rgba(255, 121, 121, 1);
}

@media (min-width: 840px) {

  .map{
    @include span-columns(10);
    @include shift(1);
    width: 1000px;
    height: 500px;
  }
}

@media (max-width: 839px) and (min-width: 500px) {

  .map{
    @include outer-container;
    @include span-columns(10);
    @include shift(1);
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 499px) {

  .map{
    @include outer-container;
    @include span-columns(10);
    @include shift(1);
    display: inline-block;
    width: 400px;
    height: 500px;
  }
}
